In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
year = '2016'

In [3]:
df = pd.read_csv('data/points_against_'+year+'.csv')

In [4]:
step = 2
df.loc[((df.Position == 'WR') | (df.Position == 'RB')) & (df.Points_Against>46), 'Points_Against'] = 46;
df.loc[((df.Position == 'WR') | (df.Position == 'RB')) & (df.Points_Against<0), 'Points_Against'] = -1;
df.loc[((df.Position == 'QB') & (df.Points_Against>36)), 'Points_Against'] = 36;
df.loc[((df.Position == 'QB') & (df.Points_Against<0)), 'Points_Against'] = -1;
df.loc[((df.Position == 'TE') | (df.Position == 'K') | (df.Position == 'DEF')) & (df.Points_Against>26), 'Points_Against'] = 26;
df.loc[((df.Position == 'TE') | (df.Position == 'K') | (df.Position == 'DEF')) & (df.Points_Against<0), 'Points_Against'] = -1;
df.Points_Against = (df.Points_Against/step).astype(int)

In [5]:
# Check what is the best indicator
for pos in df.Position.unique():
    df_pos = df.loc[(df.Position == pos) & (df.Game_Count==1)]
    pos_std = df_pos.Points_Against.astype(float).std()
    pos_mean = df_pos.Points_Against.astype(float).mean()
    df = pd.concat([df, pd.DataFrame({'Position': [pos], 'Points_Against': [pos_mean], 'Team_Against':'Ave', 'VS':'Ave', 'Week':-1})])
    for team in df.Team_Against.unique():
        pa_mean = df_pos.loc[(df_pos.Team_Against == team)].Points_Against.astype(float).mean()
        df_pa = pd.DataFrame({'Position': [pos], 'Points_Against': [pa_mean], 'Team_Against':team, 'VS':'Ave', 'Week':-1});
    
        vs_mean = df_pos.loc[(df_pos.VS == team)].Points_Against.astype(float).mean()
        df_vs = pd.DataFrame({'Position': [pos], 'Points_Against': [vs_mean], 'Team_Against':'Ave', 'VS':team, 'Week':-1});
        
        df = pd.concat([df, df_pa, df_vs])

In [6]:
def matchup(team_1, team_2):
    matchup = pd.DataFrame();
    for pos in df.Position.unique():
        team_1_pa = df.loc[(df.Team_Against == team_1) & (df.VS == 'Ave') & (df.Position == pos), 'Points_Against'].astype(float).mean();
        team_2_pa = df.loc[(df.Team_Against == team_2) & (df.VS == 'Ave') & (df.Position == pos), 'Points_Against'].astype(float).mean();
        
        team_1_vs = df.loc[(df.Team_Against == 'Ave') & (df.VS == team_1) & (df.Position == pos), 'Points_Against'].astype(float).mean();
        team_2_vs = df.loc[(df.Team_Against == 'Ave') & (df.VS == team_2) & (df.Position == pos), 'Points_Against'].astype(float).mean();
        
        pos_mean = df.loc[(df.Team_Against == 'Ave') & (df.VS == 'Ave') & (df.Position == pos), 'Points_Against'].astype(float).mean();
        
        df_pos = pd.DataFrame([{'Position':pos, 'Team_Against': team_1, 'VS': team_2, 'Points_Against': (team_1_pa*team_2_vs/pos_mean)},{'Position':pos, 'Team_Against': team_2, 'VS': team_1, 'Points_Against': (team_2_pa*team_1_vs/pos_mean)}])
        
        matchup = pd.concat([matchup,df_pos])
    
    matchup['Range_Low'] = (matchup['Points_Against'].astype(int))*2
    matchup['Range_High'] = (matchup['Points_Against'].astype(int)+1)*2
    return matchup[['Team_Against','VS','Position','Range_Low','Range_High']]

In [7]:

print(matchup('GB','MIN'));

  Team_Against   VS Position  Range_Low  Range_High
0           GB  MIN       QB         14          16
1          MIN   GB       QB         20          22
0           GB  MIN       RB         10          12
1          MIN   GB       RB         10          12
0           GB  MIN       WR         24          26
1          MIN   GB       WR         26          28
0           GB  MIN       TE          8          10
1          MIN   GB       TE          4           6
0           GB  MIN        K          6           8
1          MIN   GB        K          6           8
0           GB  MIN      DEF          6           8
1          MIN   GB      DEF          4           6

In [8]:
schedule_year = 2017
df_schedule = pd.read_csv('data/schedule_'+str(schedule_year)+'.csv')
def get_week(wk):
    df_tmp = df_schedule[df_schedule['Week'] == wk].copy()

    df_tmp['Team_1'] = df_tmp['Away']
    df_tmp['Team_2'] = df_tmp['Home']
    
    return df_tmp[['Team_1','Team_2']].reset_index()

In [9]:
wk = 4

In [10]:
df_week = get_week(wk)
df_wk_matchups = pd.DataFrame()
for i in range(len(df_week)):
    df_tmp = matchup(df_week.Team_1[i], df_week.Team_2[i])
    df_wk_matchups = pd.concat([df_wk_matchups,df_tmp])

In [11]:
df_wk_matchups[df_wk_matchups.Position=='QB'].sort_values('Range_Low',ascending=False)

  Team_Against   VS Position  Range_Low  Range_High
1          CHI   GB       QB         22          24
0          MIA   NO       QB         22          24
1          BUF  ATL       QB         20          22
0          CLE  CIN       QB         18          20
1          CAR   NE       QB         18          20
1           LA  DAL       QB         18          20
0          ATL  BUF       QB         18          20
1           NO  MIA       QB         16          18
0           KC  WAS       QB         16          18
1          IND  SEA       QB         16          18
0          NYJ  JAX       QB         16          18
0          SEA  IND       QB         16          18
1           SF  ARI       QB         16          18
0          ARI   SF       QB         14          16
1          WAS   KC       QB         14          16
0          BAL  PIT       QB         14          16
1          DET  MIN       QB         14          16
0           NE  CAR       QB         14          16
0          MIN  DET       QB         14          16
1          PIT  BAL       QB         12          14
0          HOU  TEN       QB         12          14
1          OAK  DEN       QB         12          14
0           GB  CHI       QB         12          14
0           TB  NYG       QB         12          14
1          PHI  LAC       QB         12          14
0          LAC  PHI       QB         12          14
1          CIN  CLE       QB         12          14
0          DEN  OAK       QB         10          12
1          TEN  HOU       QB         10          12
1          NYG   TB       QB         10          12
0          DAL   LA       QB          8          10
1          JAX  NYJ       QB          8          10